/* Variables */
/* Global */
.container, .container-fluid {
  padding: 0;
  border: 1px solid green;
}

.col-4 {
  padding: 0;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding: 120px 0;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Typography */
p {
  font-family: "Roboto Slab", serif;
  font-family: 'Roboto Slab', serif;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  color: #222;
  color: #222;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
  padding-bottom: 19px;
}

.section-subtitle {
  font-family: "Noto Serif JP", serif;
  font-family: 'Noto Serif JP', serif;
  color: #777;
  color: #777;
  font-size: 16px;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.section-title-small {
  font-family: "Montserrat", sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin: 0;
  padding: 0 0 15px 0;
}

/* Home */
.home {
  position: relative;
  margin: auto;
  padding-top: 40px;
  height: 100vh;
  background-image: url(https://i.postimg.cc/bwBJTqsG/Background-Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-family: 'Montserrat', sans-serif;
  z-index: -2;
  text-align: center;
  border: 1px solid blue;
}

.home::after {
  content: "";
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home .container {
  z-index: 0;
}

/* Navigation */
.navigation {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  border: 1px solid yellow;
}

.col-logo {
  border: 1px solid blue;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-family: "Lobster", cursive;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  line-height: 41px;
  color: #fed136;
  color: #fed136;
  text-decoration: none;
  letter-spacing: 1.3px;
}

.col-menu {
  border: 1px solid blue;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu li {
  display: inline-block;
  margin: 0 40px 0 0;
}

.menu li:last-of-type {
  margin: 0;
}

.menu li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 41px;
  text-transform: uppercase;
  color: #fff;
  color: #fff;
}

.home-welcome {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  border: 1px solid red;
  height: -webkit-fill-available;
}

.home-welcome > div {
  max-width: 844px;
  border: 1px solid green;
  padding-bottom: 0;
  margin-bottom: 0;
}

.welcome-title {
  font-family: "Noto Serif JP", serif;
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.welcome-subtitle {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  margin: 0;
  padding: 52px 0 59px 0;
}

.home-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #fed136;
  background-color: #fed136;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 50px;
  margin: 0;
}

.home-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Services */
.services-row {
  margin: 0;
  padding: 80px 0 0 0;
  border: 1px solid red;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.icon {
  position: relative;
  width: 68px;
  height: 67px;
  border-radius: 50%;
  border: 3px solid #fed136;
  border: 3px solid #fed136;
  margin: 0 auto 27px auto;
  padding: 0;
}

.icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
  background-color: #f7f7f7;
}

.portfolio-row {
  border: 1px solid red;
  -ms-flex-pack: justify;
      justify-content: space-between;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.portfolio-row:first-of-type {
  margin-top: 76px;
  margin-bottom: 50px;
}

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  border: 1px solid blue;
  padding: 0;
  margin: auto;
}

.card-image {
  width: 100%;
  height: 300px;
  border: 1px solid yellow;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url(../images/portfolio-1.png);
}

.img2 {
  background-image: url(../images/portfolio-2.png);
}

.img3 {
  background-image: url(../images/portfolio-3.png);
}

.img4 {
  background-image: url(../images/portfolio-4.png);
}

.img5 {
  background-image: url(../images/portfolio-5.png);
}

.img6 {
  background-image: url(../images/portfolio-6.png);
}

.card-info {
  background: #fff;
  padding: 29px 0 27px 0;
}

.card-info .section-title-small {
  padding: 0;
}

/* Footer */
footer {
  margin: 0;
  padding: 40px 0;
}

.footer-row {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 1px solid red;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.social-media {
  -ms-flex-pack: justify;
      justify-content: space-between;
  border: 1px solid green;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.social-media .col-3 {
  padding: 0;
  margin: 0 9px 0 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.social-media .col-3:last-of-type {
  margin: 0;
}

.social-media-circle {
  position: relative;
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222;
  margin: 0;
  padding: 0;
}

.social-media-circle:last-of-type {
  margin: 0;
}

.social-media-circle i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
}

.footer-row p {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */