/* Global */

$color-text-light: #fff;
$color-text-dark: #222;
$color-text-gray: #777;
$color-text-gray-2: #555;
$color-1: #fed136;
$color-2: #f7f7f7;

$font-body: 'Roboto Slab', serif;
$font-1: 'Montserrat', sans-serif;
$font-2: 'Noto Serif JP', serif;
$font-logo: 'Lobster', cursive;
